In [4]:
import sys
!{sys.executable} -mpip install -q seaborn

In [3]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [5]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

In [8]:
astd = pkg.resource('accepted_students').dataframe()
students = pkg.resource('all_students').dataframe()

In [9]:
students.head()

,cd re,year,Last Name,First Name,1st Assembly,gpa1,gpa2,sex,birth_date,address,...,birth_city,frpl,household_size,live_with_mom,lives_with,mother_birth_country,mother_ed,live_with_father,father_birth_country,father_education
0,clark,2017,Ade,Fatma Abdulahi,2.0,1.67,1.67,F,10/03/03,3077 39th Street,...,San Diego,Yes,7,Yes,NaN,USA,Some 4-year college,Yes,Somalia,Unknown
1,clark,2017,Arreola Armenta,Citlaly Nataly,2.0,1.33,1.17,F,9/11/04,2815 Menlo Avenue,...,San Diego,NaN,6,Yes,NaN,Unknown,Unknown,No,Unknown,Unknown
2,clark,2017,Arriaga,Frida Virginia,2.0,1.67,2.50,F,10/30/04,NaN,...,San Diego,Yes,4,Yes,NaN,Mexico,Unknown,No,Mexico,Unknown
3,clark,2017,Avila,Gabriella,1.0,0,1.67,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,clark,2017,Avila,Miranda Aileen,2.0,1.67,1.83,F,8/30/04,3019 Chamoune Avenue,...,San Diego,Yes,5,Yes,NaN,Mexico,High school diploma,No,Mexico,High school diploma

In [15]:
astd[astd.Name.str.contains('Kelly')]

   Year    School              Name Comment
1  2019  Memorial  Bautista, Kelly      NaN

In [14]:
astd

,Year,School,Name,Comment
0,2019,Memorial,"Aguilera Ramirez, Sergio Francisco",NaN
1,2019,Memorial,"Bautista, Kelly",NaN
2,2019,Memorial,"Burgueno Sanchez, Angeles Betania",NaN
3,2019,Memorial,"Cochey, Jesus",NaN
4,2019,Memorial,"Cueva, Dalila Darlene",NaN
5,2019,Memorial,"Garcia Morales, Ashlyn",NaN
6,2019,Memorial,"Garcia Morales, Betzayra",NaN
7,2019,Memorial,"Orozco, Athena",NaN
8,2019,Memorial,"Velazquez, Alfredo",NaN
9,2019,Memorial,"Wax, Elijah Lee",NaN
10,2018,Memorial,"Avalos, Esteven",NaN
11,2018,Memorial,"Buelna, Christian",NaN
12,2018,Memorial,"Diaz, Claudia",NaN
13,2018,Memorial,"Gravely, Aeriona",NaN
14,2018,Memorial,"Guardao, Felipe",NaN
15,2018,Memorial,"Mar, Brianna",NaN
16,2018,Memorial,"Ponce De Leon, Jiovanni",NaN
17,2018,Memorial,"Rivera, Karen",NaN
18,2018,Memorial,"Rojas, Jorge",NaN
19,2018,Memorial,"Sanchez, Arnoldo",NaN
20,2018,Memorial,"Valenzuela, Clarissa",NaN
21,2018,Bell,"Carbajal, Yhariel",NaN
22,2018,Bell,"Marcelo, Jerico",NaN
23,2018,Bell,"McNeil, Jonathan",NaN
24,2018,Bell,"Medina, Jesus",NaN
25,2018,Bell,"Moss, Natalie",NaN
26,2018,Bell,"Rodriguez, Annaly",NaN
27,2018,Bell,"Rodriguez, Jesus",NaN
28,2018,Bell,"Williams, Shaundel",NaN
29,2018,Wilson,"De La Riva Perez, Jose",NaN
...,...,...,...,...
106,2017,Clark,"Zuniga, Dapne",NaN
107,2017,Clark,"Hernandez, Ashanti",NaN
108,2016,Wilson,"Perez, Rosario",NaN
109,2016,Wilson,"Gutierrez, Erick",NaN
110,2016,Wilson,"Haro, Omar",NaN
111,2016,Wilson,"Romero, Marco",NaN
112,2016,Wilson,"Arreola, Nadia",NaN
113,2016,Wilson,"Bahena, Lizeth",NaN
114,2016,Clark,"Gutierrez, Erick",NaN
115,2016,Clark,"Haro, Omar",NaN
116,2016,Clark,"Romero, Marco",NaN
117,2016,Clark,"Arreola, Nadia",NaN
118,2016,Clark,"Bahena, Lizeth",NaN
119,2016,Clark,"Guerrero, Adrian","Unlabeled, assumed 'Clark'"
120,2016,Clark,"Rios, Fernando","Unlabeled, assumed 'Clark'"
121,2016,Clark,"Rios, Daniel","Unlabeled, assumed 'Clark'"
122,2016,Clark,"Rodriguez, Josue","Unlabeled, assumed 'Clark'"
123,2016,Clark,"Canady, Dashanell","Unlabeled, assumed 'Clark'"
124,2016,Clark,"Ceron, Juan","Unlabeled, assumed 'Clark'"
125,2016,Clark,"Diaz, Kevin","Unlabeled, assumed 'Clark'"
126,2016,Clark,"Gonzalez, Anthony","Unlabeled, assumed 'Clark'"
127,2016,Clark,"Moreira, Hector","Unlabeled, assumed 'Clark'"
128,2016,Clark,"Ocampo, Jose","Unlabeled, assumed 'Clark'"
129,2016,Clark,"Garcia, Analeah","Unlabeled, assumed 'Clark'"
130,2016,Clark,"Gonzalez, Isaac","Unlabeled, assumed 'Clark'"
131,2016,Clark,"Mota, Yomell","Unlabeled, assumed 'Clark'"
132,2016,Clark,"Ocampo, Francisco","Unlabeled, assumed 'Clark'"
133,2016,Clark,"Velazquez, Isaac","Unlabeled, assumed 'Clark'"
134,2016,Clark,"Villanueva, Eva","Unlabeled, assumed 'Clark'"
135,2016,Clark,"White, Brandon","Unlabeled, assumed 'Clark'"